# Primer Notebook
## ESMA 3016
## Edgar Acuna
## Agosto 20, 2019

In [1]:
x=[3,4,5]

In [2]:
print(type(x))

<class 'list'>

In [3]:
# Una operacion basica elemental
z=(3+5*6)/12
print(type(z))

<class 'float'>

In [4]:
# Entrando el dato con el teclado
age = input("How old are you? ")

How old are you? 59

In [5]:
print("Your age is", age)

Your age is 59

In [6]:
print("You have", 65-int(age), "years until retirement")

You have 6 years until retirement

In [7]:
name = "Edgar Acuna Fernandez"
length = len(name)

In [8]:
#imprimiendo en Mayuscula e imprimiendo la longitud
big_name = str.upper(name)
print(big_name, "tiene", length, "caracteres")

EDGAR ACUNA FERNANDEZ tiene 21 caracteres

In [9]:
names = ["Ana", "Rosa", "Julia"]

In [10]:
names[0]

'Ana'

In [11]:
names[-3]

'Ana'

In [12]:
#uso del condicional If
gpa = 3.4
if gpa > 2.0:
    print("Su solicitud de admision es aceptada.")

Su solicitud de admision es aceptada.

In [13]:
# Uso  de if/else
gpa = 1.4
if gpa >= 2.5:
    print("Bienvenido al Colegio de Mayaguez!")
else:
    print("Su solicitud de admision ha sido denegada.")

Su solicitud de admision ha sido denegada.

In [14]:
#Ejemplo con operadores logicos
Ana=3
Rosa=25
if (Ana <= 5 and Rosa >= 10):
    print("Ana and Rosa")

Ana and Rosa

In [15]:
if (Rosa == 500 or Ana != 5):
     print("Otra vez Ana y Rosa")

Otra vez Ana y Rosa

In [16]:
range(5,10)

range(5, 10)

In [17]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [18]:
#Ejemplo de loop
for x in range(1, 4):
    print(x, "squared is", x * x)

1 squared is 1
2 squared is 4
3 squared is 9

In [19]:
# Otro ejemplo de loop
names = ["Ana", "Rosa", "Julia"]
for name in names:
    print(name)

Ana
Rosa
Julia

In [20]:
# Ejemplo de break y continue
for value in [3, 1, 4, 1, 5, 9, 2]:
    print("Checking", value)
    if value > 8:
        print("Exiting for loop")
        break
    elif value < 3:
        print("Ignoring")
        continue
    print("The square is", value**2)

Checking 3
The square is 9
Checking 1
Ignoring
Checking 4
The square is 16
Checking 1
Ignoring
Checking 5
The square is 25
Checking 9
Exiting for loop

In [21]:
#Ejemplo de while
number = 1
while number < 200:
    print(number), 
    number = number * 2

1
2
4
8
16
32
64
128

In [22]:
#Sumando una constante 10 a una lista
vec1=[3,4,5]
[x +10 for x   in vec1]

[13, 14, 15]

In [30]:
#summando dos vectores componente a componente
vec2=[9,10,11]
for a,b in zip(vec1,vec2):
    print(a+b)

12
14
16

In [31]:
#usando el modulo matematico math
import math
math.pi

3.141592653589793

In [32]:
#usando el modulo matematico math con el alias m
import math as m
m.pi

3.141592653589793

In [33]:
#importando solamente la funcion pi del modulo math
from math import pi
pi

3.141592653589793

In [34]:
#Leyendo un archivo de datos de la internet
import pandas as pd
df=pd.read_csv("http://academic.uprm.edu/eacuna/Animals2.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 3 columns):
Specie    65 non-null object
body      65 non-null float64
brain     65 non-null float64
dtypes: float64(2), object(1)
memory usage: 1.6+ KB

In [28]:
#Leyendo un archivo de dato almacenado en mi PC
#df=pd.read_csv("c:\esma3016\Animals2.csv")

In [ ]:
print(File)

In [ ]:
for e in __builtins__.__dict__:
    print(e)

In [ ]:
import math 
help(math.sin)