### Python para Data Science II
### Edgar Acuna
### IV. Se usaran las librerias pandas, numpy y scipy para calcular medidas estadistica de centralidad y de dispersion

In [2]:
import pandas as pd
import numpy as np
from scipy import stats

In [3]:
#este cojunto de datos esta disponible en kaggle.com
df=pd.read_csv("http://academic.uprm.edu/eacuna/student-por.csv",sep=",")

In [4]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [5]:
#Dimension de la base de datos
print(df.shape)

(649, 33)

In [6]:
#Promedio de la variable age
np.mean(df['age'])

16.7442218798151

In [7]:
#Mediana de la variable age
np.median(df['age'])

17.0

In [19]:
#Calculo de la media usando el modulo stats
stats.describe(df['age'])

DescribeResult(nobs=649L, minmax=(15, 22), mean=16.7442218798151, variance=1.483859308718066, skewness=0.41583144316169546, kurtosis=0.06172808922743078)

In [20]:
#calculando la moda de la variable ag
stats.mode(df['age'])[0][0]

17

In [21]:
#Calculando la moda de la variable school
stats.mode(df['school'])[0][0]

'GP'

In [22]:
#calculando la media podada del 10% de la variable age
stats.trim_mean(df['age'],.1)

16.700575815738965

In [23]:
#Calulando la varianza de la variable age usando numpy
np.var(df['age'])

1.4815729307385312

In [24]:
#Calculando la varianza de la variable age usando stats
media=stats.describe(df['age'])[2]
print "la media es:", media

la media es: 16.7442218798

### La diferencia de lso calculos de la varianza es que en numpy por defecto en la formula de la varianz dividen entre n en cambio en stats dividen entre n-1. En la siguiente celda, hacemos que salgan iguales

In [25]:
#Calculando la varianza de la variable age usando numpy pero dividienedo entre n-1
np.var(df['age'],ddof=1)

1.483859308718066

In [26]:
#Calculando la desviacion estandar de la variable age. El modulo stats no calcula la desviaicon estandar
np.std(df['age'],ddof=1)

1.2181376394800656

In [27]:
#Calculando el coeficiente de variacion
stats.variation(df['age'])*100

7.2693661949360919

In [28]:
#Primer Criterio para outliers
lower=np.mean(df['age'])-3*np.std(df['age'],ddof=1)
upper=np.mean(df['age'])+3*np.std(df['age'],ddof=1) 
print "El intervalo donde caen los datos que NO son outliers es:", "\n",lower,"-",upper

El intervalo donde caen los datos que NO son outliers es:
13.0898089614 - 20.3986347983

In [29]:
#Identificando outliers
for a in df['age']:
    if (a<lower or a>upper):
        print "outlier",a

outlier 22
outlier 21
outlier 21