### Introduccion a Python-I
### Edgar Acuna
### UPR-Math Department
### Agosto 2018

### I. Variables, enunciados, tipos de datos

In [1]:
2+3*14

44

In [2]:
x=3**2-1
print x

8

In [3]:
print type(x)

<type 'int'>

In [4]:
y=3.0
print x/y

2.66666666667

In [5]:
print round(x/y,3)

2.667

In [6]:
z=x/3

In [7]:
print z

2

In [8]:
age = input("Que edad tienes? ")

Que edad tienes? 57

In [9]:
print "Su edad es", age
print "Usted tiene", 65 - age, "anos para retirarse "

Su edad es 57
Usted tiene 8 anos para retirarse

In [10]:
name = "Edgar Acuna Fernandez"
length = len(name)
big_name = str.upper(name)
print big_name, "tiene", length, "caracteres"

EDGAR ACUNA FERNANDEZ tiene 21 caracteres

In [11]:
name = 'Rosa'
print 'hola',name

hola Rosa

### II. Operadores de Comparacion

In [12]:
1 + 1 == 2

True

In [13]:
9 != 6 and 2 < 3

True

In [14]:
9!=6 & 2<3

True

In [15]:
2 == 3 or -1 < 5

True

In [16]:
(2 == 3)  | (-1 < 5)

True

### III. Strings

In [17]:
name = "Edgar Acuna Fernandez"
length = len(name)
big_name = str.upper(name)
print big_name, "tiene", length, "caracteres"

EDGAR ACUNA FERNANDEZ tiene 21 caracteres

### IV. Listas

In [18]:
A=[0]
B=[2.3, 4.5]
C=[5, "Hello", "there", 9.8]
print type(C)
D=[]

<type 'list'>

In [19]:
B.append("ana")

In [20]:
B

[2.3, 4.5, 'ana']

In [21]:
C.remove(5)
C

['Hello', 'there', 9.8]

In [22]:
B

[2.3, 4.5, 'ana']

In [23]:
B.remove(2.3)

In [24]:
B

[4.5, 'ana']

In [25]:
names = ["Ana", "Rosa", "Julia"]
print len(names)

3

In [26]:
print names[0]
print names[1]
print names[2]

Ana
Rosa
Julia

In [27]:
print names[-1]
print names[-2]
print names[-3]

Julia
Rosa
Ana

### V. Range

In [28]:
range(5)

[0, 1, 2, 3, 4]

In [29]:
range(5, 10)

[5, 6, 7, 8, 9]

In [30]:
range(0, 10, 2)

[0, 2, 4, 6, 8]

### VI. Condicionales

In [31]:
gpa = 3.4
if gpa > 2.0:
    print "su solicitud es aceptada."

su solicitud es aceptada.

In [32]:
gpa = 1.4
if gpa >= 2.5:
    print "Bienvenido a la la UPR!"
else:
    print "Su solicitud es denegada."

Su solicitud es denegada.

In [33]:
Ana=3
Rosa=25
if (Ana <= 5 and Rosa >= 10 or Rosa == 500 and Ana != 5):
    print "Ana and Rosa"

Ana and Rosa

### VII. Loops

In [34]:
for x in range(1, 4):
    print x, "squared is", x * x

1 squared is 1
2 squared is 4
3 squared is 9

In [35]:
names = ["Ana", "Rosa", "Julia"]
for name in names:
    print name

Ana
Rosa
Julia

In [36]:
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
print(squares)

[0, 1, 4, 9, 16]

In [37]:
for value in [3, 1, 4, 1, 5, 9, 2]:
    print "Checking", value
    if value > 8:
        print "Exiting for loop"
        break
    elif value < 3:
        print "Ignoring"
        continue
    print "The square is", value**2

Checking 3
The square is 9
Checking 1
Ignoring
Checking 4
The square is 16
Checking 1
Ignoring
Checking 5
The square is 25
Checking 9
Exiting for loop

In [38]:
number = 1
while number < 200:
    print number, 
    number = number * 2

1 2 4 8 16 32 64 128

### VIII. Input de Files (Localmente)

In [47]:
File=open("c://esma3016/Animals2.csv").read()
print File

Specie,body,brain
Lesser short-tailed shrew,0.005,0.14
Little brown bat,0.01,0.25
Big brown bat,0.023,0.3
Mouse,0.023,0.4
Musk shrew,0.048,0.33
Star-nosed mole,0.06,1
E. American mole,0.075,1.2
Ground squirrel,0.101,4
Tree shrew,0.104,2.5
Golden hamster,0.12,1
Mole,0.122,3
Galago,0.2,5
Rat,0.28,1.9
Chinchilla,0.425,6.4
Owl monkey,0.48,15.5
Desert hedgehog,0.55,2.4
Rock hyrax-a,0.75,12.3
European hedgehog,0.785,3.5
Tenrec,0.9,2.6
Artic ground squirrel,0.92,5.7
African giant pouched rat,1,6.6
Guinea pig,1.04,5.5
Mountain beaver,1.35,8.1
Slow loris,1.4,12.5
Genet,1.41,17.5
Phalanger,1.62,11.4
N.A. opossum,1.7,6.3
Tree hyrax,2,12.3
Rabbit,2.5,12.1
Echidna,3,25
Cat,3.3,25.6
Artic fox,3.385,44.5
Water opossum,3.5,3.9
Nine-banded armadillo,3.5,10.8
Rock hyrax-b,3.6,21
Yellow-bellied marmot,4.05,17
Verbet,4.19,58
Red fox,4.235,50.4
Raccoon,4.288,39.2
Rhesus monkey,6.8,179
Potar monkey,10,115
Baboon,10.55,179.5
Roe deer,14.83,98.2
Goat,27.66,115
Kangaroo,35,56
Grey wolf,36.33,119.5
Chimpanzee,52.16,440
Sheep,55.5,175
Giant armadillo,60,81
Human,62,1320
Grey seal,85,325
Jaguar,100,157
Brazilian tapir,160,169
Donkey,187.1,419
Pig,192,180
Gorilla,207,406
Okapi,250,490
Cow,465,423
Horse,521,655
Giraffe,529,680
Asian elephant,2547,4603
African elephant,6654,5712
Triceratops,9400,70
Dipliodocus,11700,50
Brachiosaurus,87000,154.5

In [43]:
lst= [ x for x in open("c://esma3016/Animals2.csv","r").readlines()]
lst

['Specie,body,brain\n',
 'Lesser short-tailed shrew,0.005,0.14\n',
 'Little brown bat,0.01,0.25\n',
 'Big brown bat,0.023,0.3\n',
 'Mouse,0.023,0.4\n',
 'Musk shrew,0.048,0.33\n',
 'Star-nosed mole,0.06,1\n',
 'E. American mole,0.075,1.2\n',
 'Ground squirrel,0.101,4\n',
 'Tree shrew,0.104,2.5\n',
 'Golden hamster,0.12,1\n',
 'Mole,0.122,3\n',
 'Galago,0.2,5\n',
 'Rat,0.28,1.9\n',
 'Chinchilla,0.425,6.4\n',
 'Owl monkey,0.48,15.5\n',
 'Desert hedgehog,0.55,2.4\n',
 'Rock hyrax-a,0.75,12.3\n',
 'European hedgehog,0.785,3.5\n',
 'Tenrec,0.9,2.6\n',
 'Artic ground squirrel,0.92,5.7\n',
 'African giant pouched rat,1,6.6\n',
 'Guinea pig,1.04,5.5\n',
 'Mountain beaver,1.35,8.1\n',
 'Slow loris,1.4,12.5\n',
 'Genet,1.41,17.5\n',
 'Phalanger,1.62,11.4\n',
 'N.A. opossum,1.7,6.3\n',
 'Tree hyrax,2,12.3\n',
 'Rabbit,2.5,12.1\n',
 'Echidna,3,25\n',
 'Cat,3.3,25.6\n',
 'Artic fox,3.385,44.5\n',
 'Water opossum,3.5,3.9\n',
 'Nine-banded armadillo,3.5,10.8\n',
 'Rock hyrax-b,3.6,21\n',
 'Yellow-bellied marmot,4.05,17\n',
 'Verbet,4.19,58\n',
 'Red fox,4.235,50.4\n',
 'Raccoon,4.288,39.2\n',
 'Rhesus monkey,6.8,179\n',
 'Potar monkey,10,115\n',
 'Baboon,10.55,179.5\n',
 'Roe deer,14.83,98.2\n',
 'Goat,27.66,115\n',
 'Kangaroo,35,56\n',
 'Grey wolf,36.33,119.5\n',
 'Chimpanzee,52.16,440\n',
 'Sheep,55.5,175\n',
 'Giant armadillo,60,81\n',
 'Human,62,1320\n',
 'Grey seal,85,325\n',
 'Jaguar,100,157\n',
 'Brazilian tapir,160,169\n',
 'Donkey,187.1,419\n',
 'Pig,192,180\n',
 'Gorilla,207,406\n',
 'Okapi,250,490\n',
 'Cow,465,423\n',
 'Horse,521,655\n',
 'Giraffe,529,680\n',
 'Asian elephant,2547,4603\n',
 'African elephant,6654,5712\n',
 'Triceratops,9400,70\n',
 'Dipliodocus,11700,50\n',
 'Brachiosaurus,87000,154.5\n']

### IX. Modulos

In [ ]:
dir(__builtins__)

In [ ]:
import math
import math as m
m.sin(m.pi)

In [ ]:
#importa solo las funciones cos y pi de math
from math import cos, pi
cos(pi)

In [45]:
#importando todas las funciones de math
from math import *
exp(2.0)

7.38905609893065

In [44]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stt

### X. Funciones

In [ ]:
def admision(igs):
    if igs >=300:
        return 'Admitido'
    else:
        return 'Denegado'

In [ ]:
admision(igs=306)

In [ ]:
#Aplicando la funcion a 3 estudiantes
for x in [310, 290, 289]:
    print(admision(x))

In [ ]:
def admision1(nombre,igs):
    if igs>=350:
        print nombre, 'fue Admitido'
    elif igs<270:
        print nombre,'fue Denegado'
    else:
        print nombre, 'esta en la lista de espera'

In [ ]:
admision1("juan",igs=300)

In [ ]:
admision1('Pedro',igs=200)

### XI. Maps y Lambdas

In [ ]:
x=(4,5,6)
x*3

In [ ]:
def cuadrar(n):  
      return n*n
x = (1, 2, 3, 4)
res= map(cuadrar, x)
print(res)

In [ ]:
z = (1, 2, 3, 4)
res = map(lambda x: x*x, z)
print(res)

In [ ]:
#Ejemplo de funcion lambda con dos aargumnetos
x= [4, 5, 6]
y= [5, 6, 7]
result = map(lambda n1, n2: n1+n2, x, y)
print(list(result))

### XII. Clases

In [ ]:
class Admit:

    # Constructor
    def __init__(self, name):
        self.name = name  # Create an instance variable
    pueblo="Mayaguez" 
    # Instance method
    def admision2(self, igs):
        if igs>=350:
            print self.name, 'fue Admitido' 
        elif igs<270:
            print self.name, 'fue Denegado' 
        else:
            print self.name, 'esta en la lista de espera'
    def admision3(self, igs,escuela):
        if igs>=350 and escuela=="Privada":
            
            print self.name, 'fue Admitido' 
        elif igs<270 and escuela=='Publica':
            print self.name, 'fue Denegado' 
        else:
            print self.name, 'esta en la lista de espera'

In [ ]:
Admit.pueblo

In [ ]:
adm= Admit("Juan") # Construye una isntancia de la clase Admit

In [ ]:
adm.admision2(igs=385)   # Llama un metodo instancia; imprime "Juan", "Denegado"
adm.admision3(igs=280,escuela='Privada')