### Introduccion a Python-I
### Edgar Acuna
### UPR-Math Department
### Agosto 2018

### I. Variables, enunciados, tipos de datos

In [1]:
2+3*14

44

In [2]:
x=3**2-1
print x

8

In [3]:
print type(x)

<type 'int'>

In [4]:
y=3.0
print x/y

2.66666666667

In [5]:
print round(x/y,3)

2.667

In [6]:
z=x/3

In [ ]:
print z

2

In [ ]:
age = input("How old are you? ")

In [ ]:
print "Your age is", age
print "You have", 65 - age, "years until retirement"

In [ ]:
name = "Edgar Acuna Fernandez"
length = len(name)
big_name = str.upper(name)
print big_name, "tiene", length, "caracteres"

In [ ]:
name = 'Rosa'
print 'hola',name

### II. Operadores de Comparacion

In [ ]:
1 + 1 == 2

In [ ]:
9 != 6 and 2 < 3

In [ ]:
9!=6 & 2<3

In [ ]:
2 == 3 or -1 < 5

In [ ]:
(2 == 3)  | (-1 < 5)

### III. Strings

In [ ]:
name = "Edgar Acuna Fernandez"
length = len(name)
big_name = str.upper(name)
print big_name, "tiene", length, "caracteres"

### IV. Listas

In [ ]:
A=[0]
B=[2.3, 4.5]
C=[5, "Hello", "there", 9.8]
print type(C)
D=[]

In [ ]:
B.append("ana")

In [ ]:
B

In [ ]:
C.remove(5)
C

In [ ]:
B

In [ ]:
B.remove(2.3)

In [ ]:
B

In [ ]:
names = ["Ana", "Rosa", "Julia"]
print len(names)

In [ ]:
print names[0]
print names[1]
print names[2]

In [ ]:
print names[-1]
print names[-2]
print names[-3]

### V. Range

In [ ]:
range(5)

In [ ]:
range(5, 10)

In [ ]:
range(0, 10, 2)

### VI. Condicionales

In [ ]:
gpa = 3.4
if gpa > 2.0:
    print "su solicitud es aceptada."

In [ ]:
gpa = 1.4
if gpa >= 2.5:
    print "Bienvenido a la la UPR!"
else:
    print "Su solicitud es denegada."

In [ ]:
Ana=3
Rosa=25
if (Ana <= 5 and Rosa >= 10 or Rosa == 500 and Ana != 5):
    print "Ana and Rosa"

### VII. Loops

In [ ]:
for x in range(1, 4):
    print x, "squared is", x * x

In [ ]:
names = ["Ana", "Rosa", "Julia"]
for name in names:
    print name

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
print(squares)

In [ ]:
for value in [3, 1, 4, 1, 5, 9, 2]:
    print "Checking", value
    if value > 8:
        print "Exiting for loop"
        break
    elif value < 3:
        print "Ignoring"
        continue
    print "The square is", value**2

In [ ]:
number = 1
while number < 200:
    print number, 
    number = number * 2

### VIII. Imput de Files

In [ ]:
File=open("http://academic.uprm.edu/eacuna/Animals2.csv")
print File

In [ ]:
from math import *
round(sin(pi),1)

In [ ]:
lst= [ x for x in open("c://esma3016/Animals2.csv","r").readlines()]
lst

### IX. Modulos

In [ ]:
dir(__builtins__)

In [ ]:
import math
import math as m
m.sin(m.pi)

In [ ]:
#importa solo las funciones cos y pi de math
from math import cos, pi
cos(pi)

In [ ]:
#importa todas las funciones de math
from math import *
exp(2.0)

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stt

### X. Funciones

In [ ]:
def admision(igs):
    if igs >=300:
        return 'Admitido'
    else:
        return 'Denegado'

In [ ]:
admision(igs=306)

In [ ]:
#Aplicando la funcion a 3 estudiantes
for x in [310, 290, 289]:
    print(admision(x))

In [ ]:
def admision1(nombre,igs):
    if igs>=350:
        print nombre, 'fue Admitido'
    elif igs<270:
        print nombre,'fue Denegado'
    else:
        print nombre, 'esta en la lista de espera'

In [ ]:
admision1("juan",igs=300)

In [ ]:
admision1('Pedro',igs=200)

### XI. Maps y Lambdas

In [ ]:
x=(4,5,6)
x*3

In [ ]:
def cuadrar(n):  
      return n*n
x = (1, 2, 3, 4)
res= map(cuadrar, x)
print(res)

In [ ]:
z = (1, 2, 3, 4)
res = map(lambda x: x*x, z)
print(res)

In [ ]:
#Ejemplo de funcion lambda con dos aargumnetos
x= [4, 5, 6]
y= [5, 6, 7]
result = map(lambda n1, n2: n1+n2, x, y)
print(list(result))

### XII. Clases

In [ ]:
class Admit:

    # Constructor
    def __init__(self, name):
        self.name = name  # Create an instance variable
    pueblo="Mayaguez" 
    # Instance method
    def admision2(self, igs):
        if igs>=350:
            print self.name, 'fue Admitido' 
        elif igs<270:
            print self.name, 'fue Denegado' 
        else:
            print self.name, 'esta en la lista de espera'
    def admision3(self, igs,escuela):
        if igs>=350 and escuela=="Privada":
            
            print self.name, 'fue Admitido' 
        elif igs<270 and escuela=='Publica':
            print self.name, 'fue Denegado' 
        else:
            print self.name, 'esta en la lista de espera'

In [ ]:
Admit.pueblo

In [ ]:
adm= Admit("Juan") # Construye una isntancia de la clase Admit

In [ ]:
adm.admision2(igs=385)   # Llama un metodo instancia; imprime "Juan", "Denegado"
adm.admision3(igs=280,escuela='Privada')